@use 'base/variables' as v;
@use 'base/mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: v.$font_main;
    font-size: 1.8rem;
}
a{
    text-decoration: none;
    color: v.$white;
}
h1,h2 {
    margin: 0;
    padding: 0;
    font-family: v.$font_title;
    font-weight: 900;
}