// Size of Media Queries
$phone: 468px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

// Fonts 
$font_main: 'Barlow', sans-serif;
$font_title: 'Fraunces', serif;

// Colors

// Primary

$soft_red: #FED9D3;
$red: #FE7563;
$yellow: hsl(51, 100%, 49%);
$soft_yellow: #FCF9BD;
$dark_desaturated_cyan: hsl(167, 40%, 24%); // (graphic design text)
$dark_blue: hsl(198, 62%, 26%); // (photography text)
$dark_moderate_cyan: hsl(168, 34%, 41%); // (footer)

// Neutral
$very_dark_desaturated_blue: hsl(212, 27%, 19%);
$very_dark_grayish_blue: hsl(213, 9%, 39%);
$dark_grayish_blue: hsl(232, 10%, 55%);
$grayish_blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// items
$contact_hover: #6ECFFF;