@use 'base/variables' as v;
@use 'base/mixins' as m;

.container-main {
    
    
    .article {
        width: 90%;
        margin: 5rem auto;
        text-align: center;

        h2 {
            font-size: 4rem;
        }
        p {
            color: v.$grayish_blue;
            line-height: 4rem;
        }
        
    }
    img {
        width: 100%;
        height: 100%;
    }
    @include m.desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .article {
            width: 60%;
            text-align: left;
        }

        .transform-imagen {
            grid-column: 2/3;
        }
        .transform-text {
            grid-row: 1/2;
        }
    } 
}
.learn-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        font-family: v.$font_title;
        font-weight: 900;
        color: black;
        text-transform: uppercase;
        text-align: left;
        margin: 0 0 -1.6rem 0.2rem;
        z-index: 1;

    }
    .sub {
        width: 13rem;
        border: .5rem solid v.$soft_yellow;
        border-radius: 2rem;
        
    }
    .sub-desktop {
        display: none;       
    }
    &:hover {
        .sub {
            border-color: v.$yellow;
        }
    }
    @include m.desktop {
        align-items: flex-start;

        .sub-desktop {
            display: initial;
        }
        .sub-mobile {
            display: none;
        }
    } 
}
.learn-more-red {
    .sub {
        border-color: v.$soft_red;
    }
    &:hover {
        .sub {
            border-color: v.$red;
        }
    }
}
.content-middle {
    
    text-align: center;
    h3 {
        font-family: v.$font_title;
        font-weight: 900;
        font-size: 4rem;
        margin-bottom: 0;

    }
    .article {
        margin: 0 auto 4rem;
        align-self: flex-end;
    }
    .graphic-design,
    .photography {
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        display: flex;
        min-height: 60rem;

    }
    .graphic-design {
        background-image: url(/build/img/desktop/image-graphic-design.webp);
        h3, p {
            color: v.$dark_desaturated_cyan;
        }
    }
    .photography {
        background-image: url(/build/img/desktop/image-photography.webp);
        h3, p {
            color: v.$dark_blue;
        }
    }
    @include m.desktop {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 
}