@use 'base/variables' as v;
@use 'base/mixins' as m;

.testimonials-container {
    
    h2 {
        grid-column: 1/6;
        color: v.$grayish_blue;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.8rem;
        margin: 6rem auto;
    }
    .photos-container{
        margin-bottom: 4rem;
        border-radius: 100%;
        max-height: 10rem;
        width: auto;

    }
    .first {
        grid-column: 2/3;
    }
    .testimonial {
        text-align: center;
        width: 78%;
        margin: 0 auto;

        .text {
            line-height: 3rem;
            color: v.$dark_grayish_blue;
        }
    }
    @include m.desktop {
        display: grid;
        grid-template-columns: 1fr repeat(3, 2fr) 1fr;
        h2 {
            margin: 14rem auto;
        }
    } 
}
.testimonial-data {
    margin-top: 3rem;
    margin-bottom: 6rem;
    
    .name {
        font-family: v.$font_title;
        // color: rgb(148, 134, 134);
        color: black;
    }
    .job {
        color: v.$grayish_blue;
    }
    @include m.desktop {
        margin-top: 8rem;
        margin-bottom: 20rem;
    } 
}